10-Application/Application/Swing-Sample-APP/Tools/menu-&-toolbar/toolbar-application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="toolbar-application">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="separator"/>
        <xs:element ref="toolbarItem"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="separator">
    <xs:complexType/>
  </xs:element>
  <xs:element name="toolbarItem">
    <xs:complexType>
      <xs:attribute name="tag-name" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
